@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap');

body {
    font-family: 'Poppins', sans-serif;
    background-color: #000000f2;
    color: #e0e0e0;
    margin: 0;
    padding: 0;
    text-align: center;
}

header {
    background-color: #111111;
    padding: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    color: #bb86fc;
    text-decoration: none;
    font-weight: bold;
}

h1, h2 {
    color: #bb86fc;
}

section {
    padding: 40px 20px;
    max-width: 800px;
    margin: auto;
}

a {
    color: #bb86fc;
}

.download-btn {
    display: inline-block;
    padding: 10px 20px;
    margin-top: 10px;
    background-color: #bb86fc;
    color: #121212;
    font-weight: bold;
    text-decoration: none;
    border-radius: 5px;
}

.download-btn:hover {
    background-color: #9e67e6;
}

.profile-pic {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 20px;
}

.site-title {
    text-decoration: none;
    color: #bb86fc;
}

.site-title:hover {
    color: #bb86fc;
}

ul {
    list-style-type: none;
  }